doctype html
html
    head
        meta(charset="utf-8")
        meta(
            name="viewport" 
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            )
        
        link(rel="stylesheet" href="./css/bootstrap.css")
        link(rel="stylesheet" href="./css/my.css")
        
        title Esto es un título
    body
        header
            .jumbotron
                h1 Venn Diagram Generator
                p Esto es el inicio
            nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
                a.navbar-brand(href="#") Navegación
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
                    span.navbar-toggler-icon
                #collapsibleNavbar.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") Sobre nosotros
        section#main.container
            .row
                .col-md-4.col-lg-12
                    form
                        .form-group
                            label Ingresa la operación
                            input#expression.form-control(placeholder="Ej: AUB")
                        .form-group
                            label Número de conjuntos
                            select#nsets.form-control
                                option 1
                                option 2
                                option 3
                                option 4
                                option 5
                        .form-group
                            button.btn.btn-primary(type="button" onclick="eval()") Evaluar
                #diagram.col-md-8.col-lg-12
                    .card
                        .card-body
                            h5.card-title Canvas
                            p#result.card-text Aquí iría el diagrama si tan sólo tuviera uno
                            canvas
        footer.jumbotron.text-center
            footer Piecito
                
    
    script(
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"
    )

    script(
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"
    )

    script(src="./js/bootstrap.js")
    script(src="./js/main.js")