doctype html
html
    head
        meta(charset="utf-8")
        meta(
            name="viewport" 
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            )
        
        link(rel="stylesheet" href="./css/bootstrap.css")
        link(rel="stylesheet" href="./css/my.css")
        
        title Esto es un título
    body
        header
            .jumbotron
                h1 Venn Diagram Generator
                p Esto es el inicio
            nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
                a.navbar-brand(href="#") Navegación
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
                    span.navbar-toggler-icon
                #collapsibleNavbar.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#") Sobre nosotros
        section#main.container
            .row
                .col-md-4.col-lg-12
                    form
                        .form-group
                            label Ingresa la operación
                            input#expression.form-control(placeholder="Ej: AUB")
                        .form-group
                            label Número de conjuntos
                            select#nsets.form-control
                                option 2
                                option 3
                                option 4
                                option 5
                        .form-group
                            button.btn.btn-primary(type="button" onclick="eval()") Evaluar
                #diagram.col-md-8.col-lg-12
                    .card
                        .card-body
                            h5.card-title Diagrama
                            div
                                #sets2.d-none
                                    svg(width="241" height="141")
                                        defs
                                            mask#s2_1
                                                rect.borrar/
                                                circle.circulo.B3/
                                            mask#s2_2
                                                rect.borrar/
                                                circle.circulo.A3/
                                            mask#s2_3
                                                rect.borrar/
                                                circle.A3(mask="url(#s2_1)")/
                                                circle.B3(mask="url(#s2_2)")/
                                            mask#s2_4
                                                rect.borrar/
                                                circle.circulo.B3/
                                                circle.circulo.A3/
                                        
                                        circle#f2_1.A3.d-none(mask="url(#s2_1)")/
                                        circle#f2_2.B3.d-none(mask="url(#s2_2)")/
                                        circle#f2_3.A3.d-none(mask="url(#s2_3)")/

                                        rect#f2_4.d-none(width="241" height="141" mask="url(#s2_4)")/

                                        circle.A3.circulo.contorno/
                                        circle.B3.circulo.contorno/
                                        rect.contornoR(width="241" height="141")/
                                #sets3.d-none
                                    svg(width="241" height="231")
                                        defs
                                            mask#s3_1
                                                rect.borrar/
                                                circle.circulo.C3/
                                                circle.circulo.B3/
                                            mask#s3_2
                                                rect.borrar/
                                                circle.circulo.C3/
                                                circle.circulo.A3/
                                            mask#s3_3
                                                rect.borrar/
                                                circle.circulo.B3/
                                                circle.circulo.A3/
                                            mask#s3_4
                                                rect.borrar/
                                                circle.circulo.C3/
                                                circle.circulo.A3(mask="url(#s3_1)")/
                                                circle.circulo.B3(mask="url(#s3_2)")/
                                            mask#s3_5
                                                rect.borrar/
                                                circle.circulo.A3/
                                                circle.circulo.C3(mask="url(#s3_3)")/
                                                circle.circulo.B3(mask="url(#s3_2)")/
                                            mask#s3_6
                                                rect.borrar/
                                                circle.circulo.B3/
                                                circle.circulo.C3(mask="url(#s3_3)")/
                                                circle.circulo.A3(mask="url(#s3_1)")/
                                            mask#s3_7
                                                rect.borrar/
                                                circle.circulo.A3(mask="url(#s3_1)")/
                                                circle.circulo.A3(mask="url(#s3_4)")/
                                                circle.circulo.A3(mask="url(#s3_6)")/
                                                circle.circulo.C3(mask="url(#s3_3)")/
                                                circle.circulo.B3(mask="url(#s3_2)")/
                                                circle.circulo.B3(mask="url(#s3_5)")/
                                            mask#s3_8
                                                rect.borrar/
                                                circle.circulo.B3/
                                                circle.circulo.C3/
                                                circle.circulo.A3/
                                        
                                        circle#f3_1.A3(mask="url(#s3_1)")/
                                        circle#f3_2.B3.d-none(mask="url(#s3_2)")/
                                        circle#f3_3.C3.d-none(mask="url(#s3_3)")/
                                        
                                        circle#f3_4.A3.d-none(mask="url(#s3_4)")/
                                        circle#f3_5.B3.d-none(mask="url(#s3_5)")/
                                        circle#f3_6.C3.d-none(mask="url(#s3_6)")/
                                        
                                        circle#f3_7.C3.d-none(mask="url(#s3_7)")/
                                        
                                        rect#f3_8.d-none(width="241" height="231" mask="url(#s3_8)")/
                                        
                                        circle.A3.circulo.contorno/
                                        circle.B3.circulo.contorno/
                                        circle.C3.circulo.contorno/
                                        rect.contornoR(width="241" height="231")/
                                #sets4.d-none
                                    svg(width="222" height="222")
                                        defs
                                            mask#s4_1
                                                rect.borrar/
                                                circle.circulo.D4/
                                                circle.circulo.C4/
                                                circle.circulo.B4/
                                            mask#s4_2
                                                rect.borrar/
                                                circle.circulo.D4/
                                                circle.circulo.C4/
                                                circle.circulo.A4/
                                            mask#s4_3
                                                rect.borrar/
                                                circle.circulo.C4/
                                                circle.circulo.B4/
                                                circle.circulo.A4/
                                            mask#s4_4
                                                rect.borrar/
                                                circle.circulo.D4/
                                                circle.circulo.B4/
                                                circle.circulo.A4/
                                            mask#s4_5
                                                rect.borrar/
                                                circle.circulo.C4/
                                                circle.circulo.D4/
                                                circle.circulo.A4(mask="url(#s4_1)")/
                                                circle.circulo.B4(mask="url(#s4_2)")/
                                            mask#s4_6
                                                rect.borrar/
                                                circle.circulo.C4/
                                                circle.circulo.A4/
                                                circle.circulo.A4(mask="url(#s4_3)")/
                                                circle.circulo.B4(mask="url(#s4_2)")/
                                            mask#s4_7
                                                rect.borrar/
                                                circle.circulo.B4/
                                                circle.circulo.A4/
                                                circle.C4(mask="url(#s4_4)")/
                                                circle.D4(mask="url(#s4_3)")/
                                            mask#s4_8
                                                rect.borrar/
                                                circle.circulo.B4/
                                                circle.circulo.D4/
                                                circle.A4(mask="url(#s4_1)")/
                                                circle.D4(mask="url(#s4_4)")/
                                            mask#s4_9
                                                rect.borrar/
                                                circle.D4/
                                                circle.A4(mask="url(#s4_1)")/
                                                circle.A4(mask="url(#s4_5)")/
                                                circle.A4(mask="url(#s4_8)")/
                                            mask#s4_10
                                                rect.borrar/
                                                circle.C4/
                                                circle.B4(mask="url(#s4_2)")/
                                                circle.A4(mask="url(#s4_5)")/
                                                circle.B4(mask="url(#s4_6)")/
                                            mask#s4_11
                                                rect.borrar/
                                                circle.A4/
                                                circle.D4(mask="url(#s4_3)")/
                                                circle.B4(mask="url(#s4_6)")/
                                                circle.C4(mask="url(#s4_7)")/
                                            mask#s4_12
                                                rect.borrar/
                                                circle.B4/
                                                circle.C4(mask="url(#s4)")/
                                                circle.C4(mask="url(#s7)")/
                                                circle.A4(mask="url(#s8)")/
                                            mask#s4_13
                                                rect.borrar/
                                                circle.A4(mask="url(#s4_1)")/
                                                circle.B4(mask="url(#s4_2)")/
                                                circle.D4(mask="url(#s4_3)")/
                                                circle.C4(mask="url(#s4_4)")/

                                                circle.A4(mask="url(#s4_5)")/
                                                circle.B4(mask="url(#s4_6)")/
                                                circle.C4(mask="url(#s4_7)")/
                                                circle.A4(mask="url(#s4_8)")/

                                                circle.A4(mask="url(#s9)")/
                                                circle.B4(mask="url(#s10)")/
                                                circle.D4(mask="url(#s11)")/
                                                circle.C4(mask="url(#s12)")/
                                                
                                            mask#s4_14
                                                rect.borrar/
                                                circle.A4(mask="url(#s4_1)")/
                                                circle.B4(mask="url(#s4_2)")/
                                                circle.D4(mask="url(#s4_3)")/
                                                circle.C4(mask="url(#s4_4)")/
                                                
                                                circle.A4(mask="url(#s4_9)")/
                                                circle.B4(mask="url(#s4_10)")/
                                                circle.D4(mask="url(#s4_11)")/
                                                circle.C4(mask="url(#s4_12)")/
                                        
                                        circle#f4_1.A4(mask="url(#s4_1)")/
                                        circle#f4_2.B4(mask="url(#s4_2)")/
                                        circle#f4_3.D4(mask="url(#s4_3)")/
                                        circle#f4_4.C4(mask="url(#s4_4)")/

                                        circle#f4_5.A4(mask="url(#s4_5)")/
                                        circle#f4_6.B4(mask="url(#s4_6)")/
                                        circle#f4_7.C4(mask="url(#s4_7)")/
                                        circle#f4_8.A4(mask="url(#s4_8)")/

                                        circle#f4_9.A4(mask="url(#s4_9)")/
                                        circle#f4_10.B4(mask="url(#s4_10)")/
                                        circle#f4_11.D4(mask="url(#s4_11)")/
                                        circle#f4_12.C4(mask="url(#s4_12)")/

                                        circle#f4_13.C4(mask="url(#s4_13)")/
                                        
                                        rect#f4_14(width="222" height="222" mask="url(#s4_14)")/
                                        
                                        circle.A4.circulo.contorno/
                                        circle.B4.circulo.contorno/
                                        circle.C4.circulo.contorno/
                                        circle.D4.circulo.contorno/
                                        rect.contornoR(width="222" height="222")/
                                #sets5.d-none
                                    svg(width="255" height="250")
                                        defs
                                            mask#s5_1
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.circulo.C5/
                                                circle.circulo.B5/
                                                circle.circulo.E5/
                                            mask#s5_2
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.circulo.C5/
                                                circle.circulo.A5/
                                                circle.circulo.E5/
                                            mask#s5_3
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.circulo.A5/
                                                circle.circulo.B5/
                                                circle.circulo.E5/
                                            mask#s5_4
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.circulo.C5/
                                                circle.circulo.B5/
                                                circle.circulo.E5/
                                            mask#s5_5
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.circulo.C5/
                                                circle.circulo.B5/
                                                circle.circulo.D5/
                                            mask#s5_6
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.circulo.C5/
                                                circle.circulo.E5/
                                                circle.A5(mask="url(#s5_1)")/
                                                circle.B5(mask="url(#s5_2)")/
                                            mask#s5_7
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.circulo.A5/
                                                circle.circulo.E5/
                                                circle.B5(mask="url(#s5_2)")/
                                                circle.C5(mask="url(#s5_3)")/
                                            mask#s5_8
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.circulo.B5/
                                                circle.circulo.E5/
                                                circle.C5(mask="url(#s5_3)")/
                                                circle.D5(mask="url(#s5_4)")/
                                            mask#s5_9
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.circulo.C5/
                                                circle.circulo.B5/
                                                circle.D5(mask="url(#s5_4)")/
                                                circle.E5(mask="url(#s5_5)")/
                                            mask#s5_10
                                                rect.borrar/
                                                circle.circulo.C5/
                                                circle.circulo.B5/
                                                circle.circulo.D5/
                                                circle.A5(mask="url(#s5_1)")/
                                                circle.E5(mask="url(#s5_5)")/
                                            mask#s5_11
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.circulo.C5/
                                                circle.A5(mask="url(#s5_1)")/
                                                circle.A5(mask="url(#s5_6)")/
                                                circle.E5(mask="url(#s5_10)")/
                                            mask#s5_12
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.circulo.E5/
                                                circle.B5(mask="url(#s5_2)")/
                                                circle.A5(mask="url(#s5_6)")/
                                                circle.B5(mask="url(#s5_7)")/
                                            mask#s5_13
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.circulo.E5/
                                                circle.C5(mask="url(#s5_3)")/
                                                circle.B5(mask="url(#s5_7)")/
                                                circle.C5(mask="url(#s5_8)")/ 
                                            mask#s5_14
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.circulo.B5/
                                                circle.D5(mask="url(#s5_4)")/
                                                circle.C5(mask="url(#s5_8)")/
                                                circle.D5(mask="url(#s5_9)")/
                                            mask#s5_15
                                                rect.borrar/
                                                circle.circulo.C5/
                                                circle.circulo.B5/
                                                circle.E5(mask="url(#s5_5)")/
                                                circle.D5(mask="url(#s5_9)")/
                                                circle.E5(mask="url(#s5_10)")/
                                            mask#s5_16
                                                rect.borrar/
                                                circle.circulo.D5/
                                                circle.A5(mask="url(#s5_1)")/
                                                circle.A5(mask="url(#s5_6)")/
                                                circle.E5(mask="url(#s5_10)")/
                                                circle.A5(mask="url(#s5_11)")/
                                                circle.B5(mask="url(#s5_12)")/
                                            mask#s5_17
                                                rect.borrar/
                                                circle.circulo.E5/
                                                circle.B5(mask="url(#s5_2)")/
                                                circle.A5(mask="url(#s5_6)")/
                                                circle.B5(mask="url(#s5_7)")/
                                                circle.B5(mask="url(#s5_12)")/
                                                circle.C5(mask="url(#s5_13)")/
                                            mask#s5_18
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.C5(mask="url(#s5_3)")/
                                                circle.B5(mask="url(#s5_7)")/
                                                circle.C5(mask="url(#s5_8)")/
                                                circle.C5(mask="url(#s5_13)")/
                                                circle.D5(mask="url(#s5_14)")/
                                            mask#s5_19
                                                rect.borrar/
                                                circle.circulo.B5/
                                                circle.D5(mask="url(#s5_4)")/
                                                circle.C5(mask="url(#s5_8)")/
                                                circle.D5(mask="url(#s5_9)")/
                                                circle.D5(mask="url(#s5_14)")/
                                                circle.E5(mask="url(#s5_15)")/
                                            mask#s5_20
                                                rect.borrar/
                                                circle.circulo.C5/
                                                circle.E5(mask="url(#s5_5)")/
                                                circle.D5(mask="url(#s5_9)")/
                                                circle.E5(mask="url(#s5_10)")/
                                                circle.A5(mask="url(#s5_11)")/
                                                circle.E5(mask="url(#s5_15)")/
                                            mask#s5_21
                                                rect.borrar/
                                                circle.A5(mask="url(#s5_1)")/
                                                circle.A5(mask="url(#s5_6)")/
                                                circle.E5(mask="url(#s5_10)")/
                                                circle.A5(mask="url(#s5_11)")/
                                                circle.B5(mask="url(#s5_12)")/
                                                circle.E5(mask="url(#s5_15)")/
                                                circle.A5(mask="url(#s5_16)")/
                                                circle.B5(mask="url(#s5_17)")/
                                                circle.D5(mask="url(#s5_19)")/
                                                circle.E5(mask="url(#s5_20)")/
                                            mask#s5_22
                                                rect.borrar/
                                                circle.circulo.A5/
                                                circle.circulo.D5/
                                                circle.circulo.C5/
                                                circle.circulo.B5/
                                                circle.circulo.E5/
                                        
                                        circle#f5_1.A5(mask="url(#s5_1)")/
                                        circle#f5_2.B5(mask="url(#s5_2)")/
                                        circle#f5_3.C5(mask="url(#s5_3)")/
                                        circle#f5_4.D5(mask="url(#s5_4)")/
                                        circle#f5_5.E5(mask="url(#s5_5)")/

                                        circle#f5_6.A5(mask="url(#s5_6)")/
                                        circle#f5_7.B5(mask="url(#s5_7)")/
                                        circle#f5_8.C5(mask="url(#s5_8)")/
                                        circle#f5_9.D5(mask="url(#s5_9)")/
                                        circle#f5_10.E5(mask="url(#s5_10)")/

                                        circle#f5_11.A5(mask="url(#s5_11)")/
                                        circle#f5_12.B5(mask="url(#s5_12)")/
                                        circle#f5_13.C5(mask="url(#s5_13)")/
                                        circle#f5_14.D5(mask="url(#s5_14)")/
                                        circle#f5_15.E5(mask="url(#s5_15)")/

                                        circle#f5_16.A5(mask="url(#s5_16)")/
                                        circle#f5_17.B5(mask="url(#s5_17)")/
                                        circle#f5_18.C5(mask="url(#s5_18)")/
                                        circle#f5_19.D5(mask="url(#s5_19)")/
                                        circle#f5_20.E5(mask="url(#s5_20)")/

                                        circle#f5_21.A5(mask="url(#s5_21)")/
                                        
                                        rect#f5_22(width="255" height="250" mask="url(#s5_22)")/
                                        
                                        circle.A5.circulo.contorno/
                                        circle.B5.circulo.contorno/
                                        circle.C5.circulo.contorno/
                                        circle.D5.circulo.contorno/
                                        circle.E5.circulo.contorno/
                                        rect.contornoR(width="255" height="250")/
                                //- p#result result
        footer.jumbotron.text-center
            footer Piecito
                
    
    script(
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"
    )

    script(
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"
    )

    script(src="./js/bootstrap.js")
    script(src="./js/main.js")